### TwinCAT3 ###
# website: https://www.beckhoff.com/twincat3/

# TwinCAT PLC
*.plcproj.bak
*.plcproj.orig
*.tpy
*.tclrs
*.library
*.compiled-library
*.compileinfo
*.asm
*.core
LineIDs.dbg
LineIDs.dbg.bak

# TwinCAT C++ and shared types
# ignoring the TMC file is only useful for plain PLC programming
# as soon as shared data types (via tmc), C++ or in general TcCom-Module are used, the TMC file has to be part of the repository
*.tmc
*.tmcRefac

# TwinCAT project files
*.tsproj.bak
*.tsproj.b?k
*.tsproj.orig
*.xti.bak
*.xti.bk?
*.xti.orig
*.xtv
*.xtv.bak
*.xtv.bk?

# Multiuser specific
**/.TcGit/

# exclude not required folders
**/_Boot/
**/_CompileInfo/
**/_Libraries/
**/_ModuleInstall/
**/_Deployment/
**/_Repository/

# VS Shell project specific files and folders
**/.vs/
*.~u
*.project.~u
*.suo


### Python ###
# Pythonのキャッシュ
__pycache__/
*.pyc

# 自分のデータセットや学習結果は公開リポジトリに上げない
Python_MachineLearning/YOLOX/datasets/
Python_MachineLearning/YOLOX/YOLOX_outputs/
Python_MachineLearning/YOLOX/*.pth
Python_MachineLearning/YOLOX/*.onnx

# 万が一プロジェクト内に環境を作った場合の保険
env/
venv/
.venv/



### TwinSAFE ###
2911.txt

